:root {

    --navy: #14245f;
    --blue: #1597ff;
    --cyan: #28d8ff;

    --yellow: #ffd52e;
    --orange: #ff7417;

    --green: #20c978;
    --pink: #ff3f81;
    --purple: #7b45e8;

    --dark: #172047;
    --light: #f6f9ff;

    --white: #ffffff;

    --shadow: 6px 6px 0 var(--navy);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baloo 2", sans-serif;
    background: var(--light);
    color: var(--dark);
    overflow-x: hidden;
}

button,
a {
    font-family: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background: var(--navy);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

    border-bottom: 5px solid var(--yellow);
}

.nav-container {
    width: min(1200px, 92%);
    margin: auto;

    min-height: 78px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    color: white;

    font-size: 25px;
    font-weight: 900;
}

.logo-rocket {
    font-size: 32px;
}


.logo-blast {
    color: var(--yellow);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-links a {
    font-size: 16px;
    font-weight: 800;

    transition: 0.2s;
}

.nav-links a:hover {
    color: var(--yellow);
    transform: translateY(-2px);
}

.star-counter {
    background: var(--yellow);

    color: var(--navy);

    border: 3px solid white;

    border-radius: 999px;

    padding: 7px 15px;

    display: flex;
    align-items: center;
    gap: 6px;

    font-size: 18px;
    font-weight: 900;

    box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
}

.hero {
    min-height: 640px;

    position: relative;
    overflow: hidden;

    background:
        radial-gradient(circle at 15% 20%, rgba(255,255,255,.25) 0 4px, transparent 5px),
        radial-gradient(circle at 75% 30%, rgba(255,255,255,.25) 0 5px, transparent 6px),
        linear-gradient(
            145deg,
            #087cf0,
            #19c6f5 55%,
            #6550db
        );

    color: white;
}

.hero::after {
    content: "";
    position: absolute;

    left: -5%;
    right: -5%;
    bottom: -80px;

    height: 170px;
    background: var(--yellow);
    border-radius: 50% 50% 0 0;
}

.hero-stars span {
    position: absolute;

    color: white;
    font-size: 24px;
    opacity: 0.75;
    animation: starFloat 2s ease-in-out infinite alternate;
}


.hero-stars span:nth-child(1) {
    left: 8%;
    top: 20%;
}

.hero-stars span:nth-child(2) {
    right: 14%;
    top: 18%;
}

.hero-stars span:nth-child(3) {
    left: 43%;
    top: 12%;
}

.hero-stars span:nth-child(4) {
    right: 8%;
    top: 55%;
}

.hero-stars span:nth-child(5) {
    left: 15%;
    top: 62%;
}

@keyframes starFloat {

    from {
        transform: translateY(0) rotate(0deg);
    }

    to {
        transform: translateY(-12px) rotate(20deg);
    }

}


.hero-content {
    width: min(1200px, 92%);
    min-height: 600px;

    margin: auto;
    display: grid;

    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 40px;
    position: relative;

    z-index: 2;
}

.hero-text {
    padding: 50px 0;
}

.mini-label {
    display: inline-block;

    background: var(--yellow);
    color: var(--navy);

    border: 3px solid var(--navy);
    border-radius: 999px;

    padding: 6px 15px;
    font-weight: 900;
    box-shadow: 4px 4px 0 var(--navy);
    margin-bottom: 20px;
}


.hero h1 {
    font-family: "Fredoka", sans-serif;
    font-size: clamp(65px, 10vw, 115px);

    line-height: .8;
    letter-spacing: -5px;
    color: white;

    text-shadow:
        7px 7px 0 var(--navy);
}


.hero h1 span {
    display: block;
    color: var(--yellow);
    text-shadow:
        7px 7px 0 var(--orange);
}

.hero h2 {
    margin-top: 25px;
    font-size: 30px;
    line-height: 1.05;
    font-weight: 900;
}

.hero h2 span {
    color: var(--yellow);
}

.hero p {
    max-width: 560px;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 15px;
    font-weight: 600;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 28px;
}

.primary-btn,
.secondary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    padding: 0 23px;
    border-radius: 15px;
	
    font-size: 17px;
    font-weight: 900;

    transition: .2s;
}


.primary-btn {
    background: var(--yellow);
    color: var(--navy);

    border: 4px solid var(--navy);
    box-shadow: 5px 5px 0 var(--navy);
}


.secondary-btn {
    background: white;
    color: var(--navy);

    border: 4px solid var(--navy);
    box-shadow: 5px 5px 0 var(--navy);
}

.primary-btn:hover,
.secondary-btn:hover {
    transform: translateY(-4px);
}

.primary-btn:active,
.secondary-btn:active {
    transform: translateY(3px);

    box-shadow: 2px 2px 0 var(--navy);
}

.hero-art {
    height: 500px;

    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
}

.rocket-wrapper {
    position: relative;
    z-index: 5;
    animation: rocketFloat 2.5s ease-in-out infinite;
}

.rocket {
    font-size: 150px;
    filter: drop-shadow(8px 10px 0 rgba(20,36,95,.45));
    transform: rotate(-12deg);
}

.flame {
    position: absolute;
    font-size: 60px;
    bottom: -42px;
    left: 43px;
    animation: flame .25s infinite alternate;
}

@keyframes rocketFloat {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(3deg);
    }

}

@keyframes flame {

    from {
        transform: scale(.85);
    }

    to {
        transform: scale(1.15);
    }

}

.planet {
    position: absolute;
    
	border-radius: 50%;
    border: 4px solid var(--navy);

    box-shadow: 6px 6px 0 var(--navy);
}

.planet-purple {
    width: 105px;
    height: 105px;

    background: var(--pink);

    top: 30px;
    right: 30px;
}

.planet-orange {
    width: 70px;
    height: 70px;

    background: var(--orange);

    bottom: 65px;
    left: 30px;
}

.orbit {
    position: absolute;

    width: 370px;
    height: 150px;

    border: 3px dashed rgba(255,255,255,.6);
    border-radius: 50%;

    transform: rotate(-20deg);
}

.orbit-two {
    width: 300px;
    height: 120px;

    transform: rotate(30deg);
}

.floating-number {
    position: absolute;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65px;
    height: 65px;

    border-radius: 20px;
    border: 4px solid var(--navy);

    color: var(--navy);
	
    font-family: "Fredoka", sans-serif;
    font-size: 30px;
    font-weight: 900;

    box-shadow: 5px 5px 0 var(--navy);
    animation: numberFloat 2s ease-in-out infinite alternate;
}

.number-one {
    background: var(--yellow);

    top: 110px;
    left: 30px;
}

.number-two {
    background: var(--green);

    top: 210px;
    right: 10px;

    animation-delay: .3s;
}

.number-three {
    background: var(--orange);

    bottom: 110px;
    right: 55px;

    animation-delay: .6s;
}

.number-four {
    background: var(--pink);

    bottom: 80px;
    left: 95px;

    animation-delay: .9s;
}

@keyframes numberFloat {

    to {
        transform: translateY(-10px) rotate(7deg);
    }

}

.missions-section {
    background: var(--yellow);
    padding: 90px 0 110px;
    position: relative;
}


.section-heading {
    width: min(900px, 92%);
    margin: auto;
    text-align: center;
}

.section-badge {
    display: inline-block;
    
	background: var(--navy);
    color: var(--yellow);

    padding: 7px 17px;
    border-radius: 999px;

    font-weight: 900;
    font-size: 14px;

    margin-bottom: 12px;
}

.section-heading h2 {
    font-family: "Fredoka", sans-serif;
    font-size: clamp(38px, 6vw, 60px);

    line-height: 1;
    color: var(--navy);
}

.section-heading h2 span {
    color: var(--pink);
}

.section-heading p {
    font-size: 18px;
	font-weight: 700;
    margin-top: 10px;
    color: #3f4770;
}

.mission-map {
    width: min(1150px, 92%);
    margin: 55px auto 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;

    position: relative;
}

.mission-line {
    position: absolute;
    top: 76px;
    left: 5%;
    right: 5%;
    border-top: 7px dashed var(--navy);
    z-index: 0;
}

.mission-card {
    border: 4px solid var(--navy);
    border-radius: 24px;

    min-height: 300px;
    padding: 22px 15px;
    position: relative;

    z-index: 2;

    color: var(--navy);
    box-shadow: 7px 7px 0 var(--navy);

    transition: .2s;

    font-family: inherit;
}

.mission-card:hover {
    transform: translateY(-10px) rotate(-1deg);
    box-shadow: 9px 12px 0 var(--navy);
}

.mission-card:active {
    transform: translateY(2px);
    box-shadow: 3px 3px 0 var(--navy);
}

.mission-yellow {
    background: var(--yellow);
}

.mission-orange {
    background: var(--orange);
}

.mission-green {
    background: var(--green);
}

.mission-pink {
    background: var(--pink);
}

.mission-purple {
    background: #9a6cff;
}

.mission-icon {
    width: 90px;
    height: 90px;

    background: white;

    border: 4px solid var(--navy);
    border-radius: 50%;

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    box-shadow: 4px 4px 0 var(--navy);
}

.mission-number {
    margin-top: 15px;
	
    font-size: 12px;
    font-weight: 1000;
    opacity: .7;
}

.mission-card h3 {
    font-family: "Fredoka", sans-serif;
    font-size: 23px;

    margin-top: 3px;
}

.mission-card p {
    font-size: 15px;
    line-height: 1.25;
    margin-top: 5px;
    font-weight: 700;
}

.mission-start {
    display: inline-block;
    background: var(--navy);
    color: white;
    border-radius: 999px;
    padding: 6px 13px;
    
	font-size: 13px;
    font-weight: 900;

    margin-top: 15px;
}

.progress-area {
    width: min(850px, 92%);
    margin: 60px auto 0;
    background: white;
	
    border: 5px solid var(--navy);
    border-radius: 25px;

    padding: 20px;
    box-shadow: 7px 7px 0 var(--navy);
    position: relative;
}

.progress-top {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 17px;
}

.progress-track {
    height: 25px;
    background: #e7eaf5;

    border: 3px solid var(--navy);
    border-radius: 999px;

    padding: 3px;
    margin-top: 14px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;

    border-radius: 999px;

    background:
        linear-gradient(
            90deg,
            var(--green),
            var(--yellow),
            var(--orange),
            var(--pink)
        );

    transition: width .5s ease;
}

.progress-rocket {
    position: absolute;

    top: 48px;
    left: 18px;

    transform: translateX(0);

    font-size: 30px;

    transition: left .5s ease;
}

.quick-section {
    padding: 90px 0;
    background: var(--navy);
    color: white;
}

.quick-container {
    width: min(1050px, 92%);
    margin: auto;
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    gap: 45px;
    align-items: center;
}

.quick-left {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.lightning {
    width: 70px;
    height: 70px;

    flex-shrink: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    background: var(--yellow);
    color: var(--navy);

    border: 4px solid var(--yellow);
    border-radius: 20px;

    font-size: 38px;

    transform: rotate(-7deg);
}

.quick-label {
    color: var(--yellow);
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 13px;
}

.quick-left h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 42px;
    line-height: 1;
    margin-top: 8px;
}

.quick-left h2 span {
    color: var(--pink);
}

.quick-left p {
    margin-top: 12px;

    font-size: 17px;
    font-weight: 600;

    color: #dfe5ff;
}

.quick-game {
    background: white;
    color: var(--navy);

    border: 5px solid var(--yellow);
    border-radius: 28px;

    padding: 28px;
    position: relative;

    box-shadow: 8px 8px 0 #09143d;

    text-align: center;
}

.timer {
    position: absolute;

    right: 18px;
    top: 15px;

    background: var(--pink);
    color: white;

    padding: 6px 12px;

    border-radius: 999px;

    font-weight: 1000;
}

.quick-question {
    font-family: "Fredoka", sans-serif;
    font-size: 34px;

    margin: 15px 0 25px;
}

.quick-options {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}


.quick-option {
    min-width: 75px;
    min-height: 60px;

    background: var(--blue);
    color: white;

    border: 4px solid var(--navy);
    border-radius: 17px;

    font-size: 24px;
    font-weight: 1000;

    box-shadow: 4px 4px 0 var(--navy);

    transition: .15s;
}

.quick-option:hover {
    transform: translateY(-4px);
    background: var(--purple);
}

.quick-option:active {
    transform: translateY(2px);

    box-shadow: 1px 1px 0 var(--navy);
}

.quick-feedback {
    min-height: 30px;
    margin-top: 18px;

    font-size: 17px;
    font-weight: 1000;
}

.rewards-section {
    padding: 90px 0;

    background:
        radial-gradient(circle at 10% 30%, #ffdf3d 0 8%, transparent 9%),
        radial-gradient(circle at 90% 70%, #ff4c8a 0 8%, transparent 9%),
        #f6f9ff;
}

.badge-purple {
    background: var(--purple);
    color: white;
}

.reward-board {
    width: min(950px, 92%);
	
    margin: 45px auto 0;

    background: white;
	
    border: 5px solid var(--navy);
    border-radius: 30px;

    padding: 35px;
    display: grid;
    grid-template-columns: 170px 1fr 220px;
    align-items: center;
    gap: 30px;
    box-shadow: 8px 8px 0 var(--navy);
}

.big-star {
    width: 140px;
    height: 140px;

    background: var(--yellow);
	
    border: 5px solid var(--navy);
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 80px;

    transform: rotate(-5deg);
    box-shadow: 7px 7px 0 var(--navy);
    animation: starBounce 2s infinite ease-in-out;
}

@keyframes starBounce {

    50% {
        transform: rotate(5deg) translateY(-7px);
    }

}

.star-number {
    font-family: "Fredoka", sans-serif;
    font-size: 70px;

    line-height: .8;
    color: var(--navy);
}

.star-label {
    font-weight: 1000;

    color: var(--purple);
    margin-top: 10px;

    letter-spacing: 1px;
}

.reward-message {
    margin-top: 10px;

    font-weight: 700;
    color: #69718d;
}

.badges {
    display: flex;
    gap: 10px;

    justify-content: center;
    flex-wrap: wrap;
}

.badge-item {
    width: 65px;
    height: 75px;

    border: 3px solid #bfc5d9;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    filter: grayscale(1);
    opacity: .4;
}

.badge-item span {
    font-size: 28px;
}

.badge-item small {
    font-size: 9px;
    font-weight: 1000;
}

.badge-item.unlocked {
    border-color: var(--yellow);
    background: #fff9d7;
    filter: none;
    opacity: 1;
    box-shadow: 3px 3px 0 var(--navy);
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(9, 20, 61, .82);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 2000;
}

.modal.show {
    display: flex;
}

.modal-box {
    width: min(520px, 100%);
    background: white;
	
    border: 5px solid var(--navy);
    border-radius: 30px;

    padding: 30px;
    text-align: center;
    position: relative;
    box-shadow: 10px 10px 0 var(--yellow);
    animation: modalPop .25s ease;
}

@keyframes modalPop {

    from {
        transform: scale(.75);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}

.modal-close {
    position: absolute;
	
    top: 12px;
    right: 12px;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: var(--pink);
    color: white;

    border: 3px solid var(--navy);

    font-size: 25px;
    font-weight: 1000;
}


.modal-icon {
    font-size: 65px;
}


.modal-mission {
    color: var(--purple);

    font-size: 13px;
    font-weight: 1000;

    letter-spacing: 1px;
}

.modal-box h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 36px;

    color: var(--navy);

    margin-top: 2px;
}

.modal-question {
    font-size: 24px;
    font-weight: 900;

    margin: 15px 0 20px;
}


.answer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}


.answer-button {
    min-height: 65px;
	
    border: 4px solid var(--navy);
    border-radius: 17px;

    background: var(--blue);
    color: white;

    font-size: 20px;
    font-weight: 1000;

    box-shadow: 4px 4px 0 var(--navy);
    transition: .15s;
}

.answer-button:hover {
    transform: translateY(-4px);
    background: var(--purple);
}

.answer-button.correct {
    background: var(--green);
    color: white;
}

.answer-button.wrong {
    background: var(--pink);
    color: white;
}


.answer-feedback {
    min-height: 35px;

    margin-top: 18px;

    font-size: 18px;

    font-weight: 1000;
}

.star-popup {
    position: fixed;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(.7);
    background: var(--yellow);
    color: var(--navy);

    border: 5px solid var(--navy);
    border-radius: 20px;

    padding: 15px 25px;

    font-size: 28px;
    font-weight: 1000;

    box-shadow: 7px 7px 0 var(--navy);
    opacity: 0;

    pointer-events: none;

    z-index: 3000;
}

.star-popup.show {
    animation: starPopup 1.2s ease forwards;
}

@keyframes starPopup {

    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.7);
    }

    20% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }

    70% {
        opacity: 1;
        transform: translate(-50%, -60%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -90%) scale(.8);
    }

}

footer {
    background: #0b1647;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer-logo {
    color: var(--yellow);
    font-family: "Fredoka", sans-serif;
    font-size: 28px;
    font-weight: 900;
}

footer p {
    margin-top: 5px;
    color: #ccd3f1;
    font-weight: 600;
}


.footer-shapes {
    margin-top: 15px;
    color: var(--pink);
    font-size: 22px;
    letter-spacing: 10px;
}

@media (max-width: 950px) {

    .nav-links {
        display: none;
    }

    .hero-content {
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 40px;
    }

    .hero-text {
        padding: 30px 0 0;
    }

    .hero p {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-art {
        height: 350px;
    }

    .mission-map {
        grid-template-columns: repeat(2, 1fr);
    }

    .mission-line {
        display: none;
    }

    .quick-container {
        grid-template-columns: 1fr;
    }

    .quick-left {
        justify-content: center;

        text-align: center;
    }

    .reward-board {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }

}

@media (max-width: 600px) {

    .nav-container {
        min-height: 68px;
    }

    .logo {
        font-size: 20px;
    }

    .logo-rocket {
        font-size: 27px;
    }

    .hero {
        min-height: auto;
    }

    .hero h1 {
        font-size: 70px;
        letter-spacing: -3px;
    }

    .hero h2 {
        font-size: 25px;
    }

    .hero-art {
        height: 300px;
    }

    .rocket {
        font-size: 100px;
    }

    .planet-purple {
        width: 75px;
        height: 75px;
    }

    .planet-orange {
        width: 55px;
        height: 55px;
    }

    .floating-number {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }

    .mission-map {
        grid-template-columns: 1fr;
        width: 86%;
    }

    .mission-card {
        min-height: 260px;
    }

    .progress-top {
        flex-direction: column;
        gap: 3px;
    }

    .progress-rocket {
        top: 75px;
    }

    .quick-left {
        flex-direction: column;
        align-items: center;
    }

    .quick-left h2 {
        font-size: 35px;
    }

    .quick-game {
        padding: 20px 14px;
    }

    .quick-question {
        font-size: 28px;
        margin-top: 25px;
    }

    .answer-grid {
        grid-template-columns: 1fr;
    }

    .modal-box {
        padding: 25px 18px;
    }

    .modal-box h2 {
        font-size: 30px;
    }

    .modal-question {
        font-size: 20px;
    }

    .star-number {
        font-size: 60px;
    }

}